<tr id="<%= dom_id track %>" data-sortable-target="row" data-id="<%= track.id %>" draggable="true"
  data-action="dragstart->sortable#dragstart dragover->sortable#dragover drop->sortable#drop">

  <th class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left">
   <i class="fas fa-grip-vertical"></i> <%= track.title %>
  </th>
  <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
    <%= humanize(track.audio.metadata[:duration]) if track.audio.present? && track.audio.metadata[:duration] %>
  </td>
  <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
    <%= track.notes %>
  </td>
  <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
    <%= link_to "<i class='fas fa-edit text-blue-500 mr-1'></i> Edit".html_safe, edit_track_path(track), class: "font-normal text-blue-500" %>
  </td>
</tr>
